body {
    background-color: rgb(36, 36, 36);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.game-screen {
    display: flex;
    width: 1280px;
    height: 720px;
    background-color: #40332f;
    /* Flex box ordering */
    flex-direction: column;
    /* Help viewing */
    /* border-style: solid;
    border-width: 1px;
    border-color: rgb(212, 0, 255); */
}

.title {
    display: flex;
    /* width: 600px;
    height: 200px; */
    /* Flex positioning */
    align-self: center;
    justify-content: center;
    /* Help viewing */
    /* border-style: solid;
    border-width: 1px;
    border-color: rgb(212, 0, 255); */
}

.cases-list {
    display: flex;
    /* Flex positioning */
    align-self: space-around;
    justify-content: space-around;
    /* Margin / Padding */
    padding-top: 20px;
    /* Help viewing */
    /* border-style: solid;
    border-width: 1px;
    border-color: rgb(212, 0, 255); */
}

.case-page {
    display: flex;
    width: 297px;
    height: 392px;
    transition: all 0.3s ease;
    /* Help viewing */
    /* border-style: solid;
    border-width: 1px;
    border-color: rgb(212, 0, 255); */
}

.case {
    transition: all 0.3s ease;
    filter: drop-shadow(8px 25px 15px #00000065);
}

.case:hover {
    cursor: pointer;
    /* font-size: 101.3%; */
    transform: scale(1.1) perspective(1px);
    filter: drop-shadow(8px 25px 25px #00000065);
}

.buttons-list {
    height: 100%;
    padding: 0% 0% 1.5% 0%;
    display: flex;
    /* Flex positioning */
    align-self: space-around;
    justify-content: space-around;
    /* Margin / Padding */
    padding-top: 50px;
    /* Help viewing */
    /* border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 162, 255); */
}

.play-button {
    display: flex;
    width: 129px;
    height: 49px;
    transition: all 0.3s ease;
    /* Help viewing */
    /* border-style: solid;
    border-width: 1px;
    border-color: rgb(212, 0, 255); */
}

.play-button:hover {
    cursor: pointer;
    transform: scale(1.15) perspective(1px);
}

.shadow {
    filter: drop-shadow(8px 25px 15px #00000065);
}